.in{
   
    display: flex;
    align-items: center;
    width: 50%;
    margin-top: 1em;
    margin-top: 5em;
    justify-content: center;    
    
}

.linkin{
    width: 8em;
    font-size: 1.1rem;
   margin-left: 2em;
   letter-spacing: 1px;
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: center;
}

.pruebados{
    display: flex;
    align-items: center;
    padding-left: 1em;
    width: 10em;
    padding-bottom: 0.5em;
    padding-top: 0.7em;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    background-color: #5429CF;
   transition: 300ms;
   
}

.imgin{
    width: 1.6em;
    margin-right: -0.7em;
    margin-bottom: 0.3em;
    
}

.pruebados:hover{
    transform: scale(1.12);
    transition: 500ms;
    
}
